:root {
  --primary-green: #1f7c3f; /* The dark green color */
  --text-color: #ffffff;
  --dark-text: #000000;
  --outer-bg: #333333; /* For the outside phone simulation */
  --light-gray: #f2f2f7; /* Background color of the main screen area */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  min-height: 100vh;
  overflow-x: hidden;
}

/* img {
  max-width: 100%;
} */

.body-container {
  max-width: 450px;
  padding: 1.5rem 1rem 0rem;
  margin: auto;
}

/* PAGE NAME */
.page-name {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  margin-bottom: 1rem;
}

.icon i {
  font-size: 24px;
}

.icon a {
  color: #1f7c3f;
}

.page-name h2 {
  font-weight: 600;
  font-size: 1.25rem;
}

.top-searchbar {
  border: 2px solid #4b9d6d;
  padding: 1rem 0.75rem;
  display: flex;
  border-radius: 1.75rem;
  align-items: center;
  background: #d9d9d9;
}

.top-searchbar i {
  font-size: 1.25rem;
  color: #34495e;
  margin-right: 0.25rem;
}

.search-input {
  background: none;
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  margin-left: 0.5rem;
}

.search-input::placeholder {
  font-size: 1.15rem;
  color: #34495e;
}

.tabs {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0rem 3rem;
}

.tab {
  background: white;
  width: calc(100% / 4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 7px;
  color: #1b7842;
  font-size: 14px;
}

.feature {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 1.75rem;
}

.feature-img {
  width: 135px;
  height: 100px;
  object-fit: cover;
  border-radius: 16px;
}

.features-content h4 {
  font-size: 1rem;
  flex-flow: 900;
  margin-bottom: 0.65rem;
}

.features-content p {
  font-size: 14px;
}

/* REPORT ISSUES PART */
.page-name h2 {
  color: var(--dark-text);
}

.issues-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1.5rem;
}

.issue-tab {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0.5rem;
  gap: 0.5rem;
}

.issue-icon {
  font-size: 2rem;
  color: #14ae5c;
}

.issue-description h4 {
  margin-bottom: 0.35rem;
  font-weight: 700;
  color: #000000;
}

.issue-description p {
  font-size: 14px;
  color: #555555;
}

/* REPORT FORM STYLES */
.report-form {
  padding: 1rem;
  background: #fff;
  margin-top: 1rem;
}

.input-group,
.upload-photo-container,
.location-toggle-container,
.notify-checkbox-container {
  margin-bottom: 1.25rem;
}

.input-group-1 {
  background: #ecebeb;
  padding: 1rem;
}

.label-text {
  display: block;
  color: #777575;
  margin-bottom: 0.25rem;
  padding-left: 1rem;
}

#issue-description {
  width: 100%;
  min-height: 50px;
  padding: 15px;
  border: none;
  background: none;
  font-size: 1rem;
  color: #333;
  outline: none;
  resize: none;
}

#issue-description::placeholder {
  color: #777575;
  font-size: 1rem;
}

.upload-photo-label {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-weight: 500;
  color: #333;
  font-size: 1rem;
  font-weight: 500;
}

.upload-photo-label .icon {
  margin-right: 0.5rem;
  font-size: 20px;
}

.upload-photo-label .optional {
  color: #888;
  font-size: 14px;
  margin-left: 0.25rem;
  font-weight: 500;
}

/* LOCATION TOGGLE */
.location-toggle-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 16px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.toggle-label {
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.toggle-container {
  width: 3rem;
  height: 1.75rem;
  background: #ccc;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.circle {
  position: absolute;
  height: 22px;
  width: 22px;
  left: 4px;
  top: 3px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.on {
  background: #28a745;
}

.on .circle {
  transform: translateX(20px);
}

/* NOTIFY ME */

.input-group-2 input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

/* NOTIFY */
.notify-checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.notify-checkbox-container input {
  width: 20px;
  height: 20px;
  margin-right: 0.65rem;
}

.notify-checkbox-container label {
  color: #000;
}
#notify-me {
  accent-color: #388e3c;
}

/* SUBMIT BUTTON */
.submit-btn {
  width: 100%;
  padding: 1rem;
  background: #388e3c;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  border-radius: 0.65rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #2e7d32;
}
