* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #f5f7fa;
  --black-color: #000000;
  --dark-tertiary: #1b7842;
  --light-primary-color: #06b047;
}
/* Body styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  background: linear-gradient(135deg, var(--background-color) 0%, #c3cfe2 100%);
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}
.body-container {
  margin: 0 auto;
  max-width: 400px;
  padding: 24px 16px 20px 16px;
  min-height: 100vh;
  background: var(--background-color);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.status-bar {
  justify-content: center;
  align-items: center;
}
.back-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 22px;
}
.profile-img {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}
.edit-profile-btn{
    position: absolute;
   top: 160px;
   left: 620px;
    background-color: var(--dark-tertiary);
    border-radius: 50%;
    padding: 5px;
    border: none;
    cursor: pointer;
    color: var(--background-color);
    font-weight: 100;

    
}
.avatar {
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--dark-tertiary);
}
 form{
    display: flex;
    flex-direction: column;
    gap: 10px;


 }
label{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: var(--black-color);
    font-weight: 500;
    margin-bottom: 5px;

}
input{
    margin-top: 5px;
    border: 4px solid var(--dark-tertiary);
    border-radius: 10px;
    padding: 10px;
    background: var(--background-color);
    outline: none;
    transition: border 0.2s;
}