* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #f5f7fa;
  --black-color: #000000;
  --dark-tertiary: #1b7842;
  --light-primary-color: #06b047;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
/* Body styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  background: linear-gradient(135deg, var(--background-color) 0%, #c3cfe2 100%);
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}
.body-container {
  margin: 0 auto;
  max-width: 400px;
  padding: 24px 16px 80px 16px;
  min-height: 100vh;
  background: var(--background-color);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.status-bar {
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
  .status-bar-img {
    width: 300px;
    margin: 0 auto;
    margin-left: -20px;
  }
  .edit-profile-btn {
    padding: 6px;
    font-size: 15px;
    bottom: 4px;
    right: 20px;
  }
  .body-container {
    margin-top: 0px;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}